<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Name</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.1/css/all.css" rel="stylesheet">
    @Scripts.Render("~/bundles/jquery")
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/Content/Profile/Index/Desktop/script.js"></script>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Shared/Profile/style.css")
    @Styles.Render("~/Content/Profile/Index/Desktop/style.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="logo">
                <input type="image" src="https://i.imgur.com/DZE7h4J.png" class="logo-icon" />
            </div>
            <input class="search col-lg-6" type="search" placeholder="  |  Search">
            <i class="fa fa-user-circle" type="button" data-toggle="dropdown"></i>
            <ul class="dropdown-menu shadow">
                <i class="fa fa-sort-up"></i>
                <form>
                    <div id="dropdown-button-logout" class="dropdown-button">LogOut</div>
                </form>
                <li class="divider"></li>
            </ul>
        </div>
        @RenderBody()

        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
</html>